<div class="mt-4 alert alert-info" role="alert">
    <i class="fas fa-check-circle me-2"></i>
    <div>
        Du bist für "{{ event_model.title }}" registriert.
        <br>
        Status: {{ event_member_model.stateOfSubscriptionTrans }}
    </div>
</div>

<table class="table">
    <tr>
        <td class="fw-bold">Event</td>
        <td>
            <p><a href="{{ event_model.eventUrl }}" title="zum Event">"{{ event_model.title }}"</a></p>
            <p>Event-Datum: {{ event_model.startDate|date("d.m.Y") }}</p>
            <p><a href="{{ path('sac_event_tool_download_event_ical', {'eventId': event_model.id}) }}"><span class="badge bg-primary"><i class="fa-light fa-calendar-plus"></i> ICal</span></a></p>
        </td>
    </tr>
    <tr>
        <td class="fw-bold">Name</td>
        <td>{{ event_member_model.firstname }} {{ event_member_model.lastname }}</td>
    </tr>
    <tr>
        <td class="fw-bold">Mitglieder-Nr.</td>
        <td>{{ event_member_model.sacMemberId }}</td>
    </tr>
    <tr>
        <td class="fw-bold">Strasse</td>
        <td>{{ event_member_model.street }}</td>
    </tr>
    <tr>
        <td class="fw-bold">PLZ/Ort</td>
        <td>{{ event_member_model.postal }} {{ event_member_model.city }}</td>
    </tr>
    <tr>
        <td class="fw-bold">Registriert am</td>
        <td>{{ event_member_model.dateAdded|date("d.m.Y H:m") }}</td>
    </tr>
    <tr>
        <td class="fw-bold">Bemerkungen</td>
        <td>{{ event_member_model.notes|nl2br }}</td>
    </tr>
    <tr>
        <td class="fw-bold">Notfallangaben</td>
        <td>{{ event_member_model.emergencyPhoneName }}, {{ event_member_model.emergencyPhone }}</td>
    </tr>
    {% if event_model.addIban %}
        <tr>
            <td class="fw-bold">Bezahlung/Vorauskasse</td>
            <td>
                <p>Bitte überweise die Teilnahmegebühren auf:</p>
                <p>
                    <span class="fw-bold">IBAN:</span>
                    <br>
                    {{ event_model.iban }}
                    <br>
                    <br>
                    <span class="fw-bold">Begünstigter:</span>
                    <br>
                    {{ event_model.ibanBeneficiary|nl2br }}
                </p>
                <p>Details dazu erhältst du per E-Mail nach dem Absenden des Anmeldeformulars.</p>
            </td>
        </tr>
    {% endif %}
</table>

<p class="mt-5">
    In deinem <strong>Mitgliederprofil</strong> kannst du und den Status deiner Anmeldung einsehen und deine Buchungen gegebenenfalls <strong>stornieren</strong>.
</p>

