<div class="legend-box">

    <div class="event-detail-legend">
        {% set event_title = event.title|revert_input_encoding %}
        <h3>{{ (event_title|length > 30 ? event_title|slice(0, 30) ~ '…' : event_title) }}</h3>
        <p>{{ event.time_span|raw }}</p>
        <p><strong>Leiter:</strong><br>{{ event.instructors|join('<br>')|raw }}</p>
    </div>

    <div class="subscription-state-legend">
        <h3>Status der Event-Anmeldung</h3>
        <ul>
            {% for state in registration.states %}
                <li><img src="{{ sacevt_asset_dir() }}/icons/subscription-states/{{ state }}.svg" width="16" height="16"> {{ ('MSC.'~state)|trans({}, 'contao_default') }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="participation-state-legend">
        <h3>Teilnahmestatus <span class="notice">Hinweis: Darf erst nach der Event-Durchführung ausgefüllt werden!</span></h3>
        <ul>
            <li><img src="{{ sacevt_asset_dir() }}/icons/fontawesome/default/square-regular.svg" width="16" height="16"> Hat am Event nicht/noch nicht teilgenommen</li>
            <li><img src="{{ sacevt_asset_dir() }}/icons/fontawesome/default/square-check-regular.svg" width="16" height="16"> Hat am Event teilgenommen</li>
        </ul>
    </div>

</div>

<div class="legend-box">
    <div class="notice-legend">
        <h3>Vergütungsformular mit Tourrapport</h3>
        <p>Das Vergütungsformular und der Tourrapport (je ein PDF-Dokument) müssen <strong>nach dem Event</strong> an die entsprechende Stelle zeitnah gesendet werden!</p>
    </div>
</div>

<script>
    // Badges: Add the title attribute from data-title.
    const el = document.querySelectorAll('.event-detail-legend [data-title]');
    let i;
    for (i = 0; i < el.length; ++i) {
        let titleString = el[i].getAttribute('data-title');
        el[i].setAttribute('title', titleString);
    }
</script>
