<div class="{{ class }} block" {{ cssID }}{% if style is defined %} style="{{ style }}"{% endif %}>

    {% if headline %}
        <h1 class="ce_headline mb-2">{{ headline }}</h1>
        <date class="d-block mb-3">vom: {{ eventDates }}</date>
    {% endif %}

    {% if not eventSubstitutionText is empty %}
        <h4 class="mt-0 mb-3" style="color: red"><!-- indexer::stop -->Ausweichtour:<!-- indexer::continue --> {{ eventSubstitutionText }}</h4>
    {% endif %}

    <div class="row gx-4">
        <!-- start col left -->
        <div class="col-12 col-lg-8">
            <div class="row gx-4 gy-1">
                {% if authorName %}
                    <div class="col-auto">
                        <h5 class="m-0"><span class="text-danger"><i class="fas fa-feather"></i> Autor/in:</span> {{ authorName }}</h5>
                    </div>
                {% endif %}
            </div>

            <!-- Here comes the text -->
            <p class="mt-3">{{ text|nl2br }}</p>

            {% if images %}
                <div class="ce_gallery mt-3">
                    <div class="row gx-2 gy-1">
                        <!-- indexer::stop -->
                        {% for image in images %}
                            <figure class="col-12 col-sm-6 col-md-4 image_container thumbnail responsive">
                                <a href="{{ image.path }}" data-lightbox="lbEventGal" class="cboxElement" title="{{ image.liinkTitle }}">
                                    {{ '{{image::' ~ binToUuid.invoke(image.uuid) ~ '?width=400&height=400&mode=crop&alt=' ~ image.alt ~ '}}' }}
                                </a>
                                <figcaption class="figure-caption">{{ image.strFigureCaption }}</figcaption>
                            </figure>
                        {% endfor %}
                        <!-- indexer::continue -->
                    </div>
                </div>
            {% endif %}

            {% if youtubeId %}
                <br>
                <div class="ratio ratio-16x9">
                    <iframe src="//www.youtube.com/embed/{{ youtubeId }}?rel=0" allowfullscreen=""></iframe>
                </div>
            {% endif %}
        </div>
        <!-- end col left -->

        <!-- start col right -->
        <div class="col-12 col-lg-4">
            <div class="p-3 mt-4 mt-lg-0 bg-light">
                {% if tourTypes %}
                    <div class="event-info-box mt-0 d-flex">
                        <i class="pt-1 fas fa-fw fa-mountain text-primary"></i>
                        <div class="ms-2">
                            <h5 class="mt-0 lh-1">{{ tourTypes }}</h5>
                            {% if not eventOrganizers is empty %}
                                <div>{{ eventOrganizers }}</div>
                            {% endif %}

                            {% if not tourInstructors is empty %}
                                <div>Leitung: {{ tourInstructors }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if tourWaypoints %}
                    <div class="event-info-box mt-3 d-flex">
                        <i class="pt-1 fas fa-fw fa-pennant text-primary"></i>
                        <div class="ms-2">
                            <h5 class="mt-0 lh-1">Tourenstationen</h5>
                            <div>{{ tourWaypoints }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if tourProfile or  tourTechDifficulty %}

                    <div class="event-info-box mt-3 d-flex">
                        <i class="pt-1 fas fa-fw fa-hiking text-primary"></i>
                        <div class="ms-2">
                            <h5 class="mt-0 lh-1">Eckdaten</h5>
                            <div>
                                {% if tourTechDifficulty %}
                                    {{ tourTechDifficulty }}<br>
                                {% endif %}
                                {% if tourProfile %}
                                    {{ tourProfile }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if tourHighlights %}
                    <div class="event-info-box mt-3 d-flex">
                        <i class="pt-1 fas fa-fw fa-star text-primary"></i>
                        <div class="ms-2">
                            <h5 class="mt-0 lh-1">Highlights/Bemerkungen</h5>
                            <div>{{ tourHighlights }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if tourPublicTransportInfo %}
                    <div class="event-info-box mt-3 d-flex">
                        <i class="pt-1 fas fa-fw fa-tram text-primary"></i>
                        <div class="ms-2">
                            <h5 class="mt-0 lh-1">ÖV</h5>
                            <div>{{ tourPublicTransportInfo }}</div>
                        </div>
                    </div>
                {% endif %}

                <div class="event-info-box mt-3 d-flex">
                    <i class="pt-1 fas fa-fw fa-info text-primary"></i>
                    <div class="ms-2 lh-1">
                        <a href="{{ '{{event_url::' ~ eventId ~ '}}' }}" target="_blank">Zur Tour-/Kurs-Ausschreibung</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col right -->
    </div>

    {% if directLink %}
        <!-- QR Code & direct link -->
        <ul class="nav nav-pills mt-5 mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#eventStoryQrCode" type="button" role="tab" aria-controls="pills-home" aria-selected="true">QR Code</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#eventStoryDirectLink" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Direkt-Link</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fase show active" id="eventStoryQrCode" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="event-story-reader-qrcode mt-3 mb-3">
                    <img src="{{ qrCodePath }}" style="border:1px solid red">
                </div>
            </div>
            <div class="tab-pane fase" id="eventStoryDirectLink" role="tabpanel" aria-labelledby="pills-profile-tab">
                <p>Direct link: <a href="{{ directLink }}">{{ directLink }}</a></p>
            </div>
        </div>
    {% endif %}

</div>




