{% if events is not empty %}
    <div id="tl_backend_home_screen_my_events">
        <div id="tl_backend_home_screen_my_events_inner">
            <h2>Deine Events</h2>
            <table class="tl_listing">
                {% set index = 0 %}
                {% for event in events %}
                    {% if event.separator is defined %}
                        {% if event.separator == 'upcoming-events' and has_upcoming_events %}
                            {% set index = 0 %}
                            <tr>
                                <td colspan="8" class="separator">{{ 'MSC.bmd_yourUpcomingEvents'|trans({}, 'contao_default') }}</td>
                            </tr>
                        {% endif %}
                        {% if event.separator == 'past-events' and has_past_events %}
                            {% set index = 0 %}
                            <tr>
                                <td colspan="8" class="separator">{{ 'MSC.bmd_yourPastEvents'|trans({}, 'contao_default') }}</td>
                            </tr>
                        {% endif %}
                    {% else %}
                        {% set index = index + 1 %}
                        {% set odd_or_even = index%2 == 0 ? ' event' : ' odd' %}
                        <tr class="hover-row {{ event.row_class }}{{ odd_or_even }}">
                            <td class="my-events-badge-col text-align-left">{{ event.badge|raw }}</td>
                            <td class="my-events-date-col text-align-left">{{ event.date }}</td>
                            <td class="my-events-title-col text-align-left">
                                <a href="{{ event.href_event }}" style="text-decoration:underline" title="Event '{{ event.title|raw }}' bearbeiten"><strong>{{ event.title }}</strong></a>
                            </td>
                            <td class="my-events-icon-col text-align-center">
                                <a href="{{ event.href_preview }}" title="zur Vorschau von '{{ event.title }}'">
                                    <i class="fa-solid fa-fw fa-presentation-screen"></i>
                                </a>
                            </td>
                            <td class="my-events-icon-col text-align-center">
                                <a href="{{ event.href_registrations }}" title="TN-Liste und Rapporte für '{{ event.title }}'">
                                    <i class="fa-solid fa-fw fa-people-group"></i>
                                </a>
                            </td>
                            <td class="my-events-icon-col text-align-center">
                                {% if event.href_email is not empty %}
                                    <a href="{{ event.href_email }}" title="E-Mail an Teilnehmer für '{{ event.title }}'">
                                        <i class="fa-solid fa-fw fa-at"></i>
                                    </a>
                                {% else %}
                                    <i class="fa-solid fa-fw fa-at brightened" title="E-Mail nicht verfügbar"></i>
                                {% endif %}
                            </td>
                            <td class="my-events-icon-col text-align-center">
                                {% if event.href_report is not empty %}
                                    <a href="{{ event.href_report }}" title="Rapport erfassen für '{{ event.title }}'">
                                        <i class="fa-solid fa-fw fa-file-word"></i>
                                    </a>
                                {% else %}
                                    <i class="fa-solid fa-fw fa-file-word brightened" title="Rapport erfassen nicht verfügbar"></i>
                                {% endif %}
                            </td>
                            <td class="my-events-icon-col text-align-center">
                                {% if event.href_print_report is not empty %}
                                    <a href="{{ event.href_print_report }}" title="Rapport drucken für '{{ event.title }}'">
                                        <i class="fa-solid fa-fw fa-print"></i>
                                    </a>
                                {% else %}
                                    <i class="fa-solid fa-fw fa-print brightened" title="Rapport drucken nicht verfügbar"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <h2>Anleitungen und Tutorials</h2>
            <p>Die Seite "Anleitungen und Tutorials" beim Menüpunkt "Service" im Frontend/Website unterstützt Sie bei der Verwendung des SAC Event-Tools (Backend/Contao).</p>
        </div>
    </div>
    <script>
        // Badges: Add the title attribute from data-title.
        const el = document.querySelectorAll('#tl_backend_home_screen_my_events [data-title]');
        let i;
        for (i = 0; i < el.length; ++i) {
            let titleString = el[i].getAttribute('data-title');
            el[i].setAttribute('title', titleString);
        }
    </script>
{% endif %}
