<div class="row">
    <div class="col-5 col-sm-5 col-md-5 col-xl-6">
        {% if addImage|default %}
            {% if jumpTo|default %}
                <a href="{{ insert_tag('link_url::' ~ jumpTo) }}?username={{ username }}" title="{{ lastname ~ ' ' ~ firstname|trim }}">
            {% endif %}
            {{ contao_figure(singleSRC, imgSize, {
                metadata: { alt: lastname~' '~firstname|trim }
            }) }}
            {% if jumpTo|default %}
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-7 col-sm-7 col-md-7 col-xl-6 ">
        <strong>{{ lastname ~ ' ' ~ firstname|trim }}</strong>
        <small>
            <br>
            {% if has_logged_in_frontend_user() %}
                {#  Show personal data to logged in users only #}
                {% if street|default %}{{ street }}<br>{% endif %}
                {% if postal|default %}{{ postal }}&nbsp;{% endif %}
                {% if city|default %}{{ city }}<br>{% endif %}
                {% if phone|default %}P: {{ phone }}<br>{% endif %}
                {% if mobile|default %}M: {{ mobile }}<br>{% endif %}
                {% if email|default %}{{ insert_tag('email_open::'~email)|raw }}{{ email }}</a><br>{% endif %}
            {% else %}
                {% if street|default and 'street' in showFieldsToGuests %}{{ street }}<br>{% endif %}
                {% if postal|default and 'postal' in showFieldsToGuests %}{{ postal }}&nbsp;{% endif %}
                {% if city|default and 'city' in showFieldsToGuests %}{{ city }}<br>{% endif %}
                {% if phone|default and 'phone' in showFieldsToGuests %}P: {{ phone }}<br>{% endif %}
                {% if mobile|default and 'mobile' in showFieldsToGuests %}M: {{ mobile }}<br>{% endif %}
                {% if email|default and 'email' in showFieldsToGuests %}{{ insert_tag('email_open::'~ email)|raw }}{{ email }}</a><br>{% endif %}
            {% endif %}
        </small>
    </div>
</div>
