{% extends '@Contao/block_unsearchable' %}

{% block content %}

    {% if hasInfoMessage %}
        <div class="alert alert-info" role="alert">
            {{ infoMessage }}
        </div>
    {% endif %}

    {% if hasErrorMessage %}
        {% for msg in errorMessages %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-6 col-sm-9">
            {{ avatarForm|raw }}
        </div>
        <div class="col-6 col-sm-3">
            <figure class="member-dashboard-avatar d-flex justify-content-end mt-3 responsive thumbnail image_container">
                {{ insert_tag('image::'~getAvatarResourcePath(userModel)~'?width=300')|raw }}
                {% if avatar|default %}
                    <a href="{{ insert_tag('env::request') }}?do=rotate-image&fileId={{ avatar.id }}" class="member-dashboard-rotate-image-button" title="Bild im UZS um 90° drehen"><i class="fa-solid fa-rotate-right turn-image"></i></a>
                {% endif %}
            </figure>
            {% if user.hasAvatar is same as true %}
                <div class="d-flex justify-content-end">
                    <small><a href="{{ getAvatarResourcePath(userModel) }}" title="Profilbild downloaden" download>Profilbild downloaden</a></small>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
