{% extends '@Contao/block_unsearchable' %}

{% block content %}

    {% if hasInfoMessage|default %}
        <div class="alert alert-info" role="alert">
            {{ infoMessage|raw }}
        </div>
    {% endif %}

    {% if hasErrorMessage|default %}
        {% for message in errorMessages %}
            <div class="alert alert-danger" role="alert">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="table-responsive">
        <table class="table layout-table table-striped">
            {% for event in arrPastEvents %}

                {% if constant('\\Markocupic\\SacEventToolBundle\\Config\\EventType::COURSE') == event.objEvent.eventType|default %}
                    <tr>
                        <td>{{ event.dateSpan|raw }}</td>
                        <td>{{ event.objEvent.title }}</td>
                        <td class="text-center">
                            <a href="{{ event.downloadCourseConfirmationLink }}" title="Kursbestätigung downloaden" class="btn btn-sm btn-info">
                                <i class="fa-light fa-fw fa-download"></i>
                            </a>
                        </td>
                    </tr>
                {% endif %}

                {% if constant('\\Markocupic\\SacEventToolBundle\\Config\\EventType::TOUR') == event.objEvent.eventType|default or constant('\\Markocupic\\SacEventToolBundle\\Config\\EventType::LAST_MINUTE_TOUR') == event.objEvent.eventType|default %}
                    <tr>
                        <td style="min-width:180px">{{ event.dateSpan|raw }}</td>
                        <td>
                            {{ event.objEvent.title }}
                            {% if constant('\\Markocupic\\SacEventToolBundle\\Config\\EventType::LAST_MINUTE_TOUR') == event.objEvent.eventType|default %}
                                <span style="color:green">&nbsp;(Last Minute)</span>
                            {% endif %}
                            {% if event.objEvent.executionState is not empty and constant('\\Markocupic\\SacEventToolBundle\\Config\\EventExecutionState::STATE_NOT_EXECUTED_LIKE_PREDICTED') == event.objEvent.executionState|default %}
                                <br>
                                <small><span style="color:red">Ausweichtour: {{ event.objEvent.eventSubstitutionText }}</span></small>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}

        </table>
    </div>
{% endblock %}
