{% set onclick_confirm_A = 'Soll diese Registrierung abgelehnt werden und die Person darüber per E-Mail in Kenntnis gesetzt werden?' %}
{% set onclick_confirm_B = 'Soll diese Event-Registrierung storniert werden und die Person darüber in Kenntnis gesetzt werden?' %}
{% set onclick_confirm_C = 'Soll diese Registrierung bestätigt werden und die Person darüber per E-Mail in Kenntnis gesetzt werden?' %}
{% set onclick_confirm_D = 'Soll diese Registrierung auf die Warteliste gesetzt werden und die Person darüber per E-Mail in Kenntnis gesetzt werden?' %}

{% if show_email_buttons|default %}
    <div class="tl_submit_container change-state-of-subscription-with-email-box">
        <h3>Teilnehmer/in benachrichtigen</h3>

        {% if state_of_subscription != constant('\\Markocupic\\SacEventToolBundle\\Config\\EventSubscriptionState::SUBSCRIPTION_ACCEPTED') and not event_is_fully_booked %}
            <a href="{{ button_hrefs.accept_with_email }}" onclick="if (!confirm('{{ onclick_confirm_C }}'))return false;Backend.getScrollOffset()" class="tl_submit btn-accept-with-email">Bestätigen mit E-Mail</a>
        {% endif %}

        {% if state_of_subscription != constant('\\Markocupic\\SacEventToolBundle\\Config\\EventSubscriptionState::SUBSCRIPTION_ON_WAITING_LIST') %}
            <a href="{{ button_hrefs.add_to_waitinglist_with_email }}" onclick="if (!confirm('{{ onclick_confirm_D }}'))return false;Backend.getScrollOffset()" class="tl_submit btn-add-to-waitinglist-with-email">Auf Warteliste mit E-Mail</a>
        {% endif %}

        {% if state_of_subscription != constant('\\Markocupic\\SacEventToolBundle\\Config\\EventSubscriptionState::SUBSCRIPTION_REFUSED') and state_of_subscription != constant('\\Markocupic\\SacEventToolBundle\\Config\\EventSubscriptionState::USER_HAS_UNSUBSCRIBED') %}
            <a href="{{ button_hrefs.refuse_with_email }}" onclick="if (!confirm('{{ onclick_confirm_A }}'))return false;Backend.getScrollOffset()" class="tl_submit btn-refuse-with-email">Ablehnen mit E-Mail</a>
            <a href="{{ button_hrefs.cancel_with_email }}" onclick="if (!confirm('{{ onclick_confirm_B }}'))return false;Backend.getScrollOffset()" class="tl_submit btn-cancel-with-email">Stornieren (abgemeldet) mit E-Mail</a>
        {% endif %}
    </div>

    {% if event.eventState == constant('\\Markocupic\\SacEventToolBundle\\Config\\EventState::STATE_FULLY_BOOKED') and state_of_subscription != constant('\\Markocupic\\SacEventToolBundle\\Config\\EventSubscriptionState::SUBSCRIPTION_ACCEPTED') %}
        <div class="alert alert-danger">Dieser Anlass ist ausgebucht! Es kann keine weitere Anmeldung entgegengenommen werden. Die Person kann jedoch auf die Warteliste gesetzt werden.</div>
    {% elseif event_is_fully_booked and state_of_subscription != constant('\\Markocupic\\SacEventToolBundle\\Config\\EventSubscriptionState::SUBSCRIPTION_ACCEPTED') %}
        <div class="alert alert-danger">Für diesen Anlass ist die maximale Teilnehmerzahl von {{ event.maxMembers|default('0') }} Personen erreicht! Es kann keine weitere Anmeldung angenommen werden. Die Person kann auf die Warteliste genommen werden.</div>
    {% endif %}

{% endif %}

{% if registration.hasParticipated %}
    <div class="alert alert-primary">Dieser Teilnehmer/diese Teilnehmerin hat am Event teilgenommen.</div>
{% endif %}

<style>
    .change-state-of-subscription-with-email-box {
        padding-bottom: 1.5rem;
    }

    .change-state-of-subscription-with-email-box h3 {
        font-size: .875rem;
        margin: .5rem 0;
    }
</style>
