{% do addJavascriptResource(sacevt_asset_dir()~'/js/eventfilter.min.js|static') %}

{% extends '@Contao/block_unsearchable' %}

{% block content %}

    <div class="filter-board {{ form.getFormId() }} block" id="{{ form.getFormId() }}">
        <form action="{{ form.getAction() }}" enctype="{{ form.getEnctype() }}" method="{{ form.getHttpMethod() }}">
            {# start formbody #}
            <div class="formbody">
                {# start row #}
                <div class="row">
                    {% for field in fields %}
                        {% if field != 'suitableForBeginners' and field != 'publicTransportEvent' and field != 'favoredEvent' %}
                            {% if form.hasFormField(field) %}
                                <!-- start widget {{ field }} -->
                                <div class="filter-board-widget col-6 col-sm-4" id="{{ field }}">
                                    {{ form.getWidget(field).parse()|raw }}
                                </div>
                                <!-- end widget {{ field }} -->
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if form.hasFormField('suitableForBeginners') %}
                        <div class="filter-board-widget col-6 col-sm-4" id="suitableForBeginners">
                            {{ form.getWidget('suitableForBeginners').parse()|raw }}
                        </div>
                    {% endif %}

                    {% if form.hasFormField('publicTransportEvent') %}
                        <div class="filter-board-widget col-6 col-sm-4" id="publicTransportEvent">
                            {{ form.getWidget('publicTransportEvent').parse()|raw }}
                        </div>
                    {% endif %}

                    {% if has_logged_in_frontend_user() and form.hasFormField('favoredEvent') %}
                        <div class="filter-board-widget col-6 col-sm-4" id="favoredEvent">
                            {{ form.getWidget('favoredEvent').parse()|raw }}
                        </div>
                    {% endif %}
                </div>
                {# end row #}

                <div class="filter-board-widget" id="submit">
                    <div class="widget widget-submit">
                        <button class="submit" id="ctrl_submit" name type="submit">Filter anwenden</button>
                    </div>
                </div>
                <div class="mt-3 filter-board-widget">
                    <a class="small reset-form" href="#">Filter zurücksetzen</a>
                </div>
            </div>
            {# end formbody #}
        </form>
    </div>

    <script{{ attrs().setIfExists('nonce', csp_nonce('script-src')) }}>

        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                'locale': '{{ sacevt_locale }}',
                'dateFormat': '{{ date_format }}',
            }

            EventFilter.initialize(options);
        });

    </script>

{% endblock %}


