{% extends '@Contao/block_unsearchable' %}

{% block content %}

    {% if 'registration_interrupted' == step %}
        {% if errorMessage|default %}
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-circle"></i>
                <div>{{ errorMessage|raw }}</div>
            </div>
        {% endif %}

        {% if infoMessage|default %}
            <div class="alert alert-info" role="alert">
                <i class="fas fa-info-circle me-2"></i>
                <div>{{ infoMessage|raw }}</div>
            </div>
        {% endif %}
    {% endif %}

    {% if 'login' == step %}
        {{ stepIndicator|raw }}
        <div class="alert alert-info" role="alert">
            <i class="fas fa-info-circle"></i>
            <div>Bitte logge dich ein, um dich zu einem Event anzumelden.</div>
        </div>

        <!-- Login form -->
        <div class="mt-5 mb-4">
            {{ '{{insert_module::' ~ moduleModel.eventRegLoginModule ~ '}}' }}
        </div>
    {% endif %}

    {% if 'confirm' == step %}
        {{ stepIndicator|raw }}
        {{ regInfo|raw }}
    {% endif %}

    {% if 'register' == step %}
        {{ stepIndicator|raw }}

        {% if eventFullyBooked|default is same as(true) %}
            <div class="alert alert-info" role="alert">
                <i class="fas fa-info-circle"></i>
                <div>{{ 'ERR.evt_reg_bookingLimitReaches'|trans({}, 'contao_default') }}</div>
            </div>
        {% endif %}

        <h2 class="ce_headline text-danger mt-5 mb-4">Für {{ ('MSC.'~eventModel.eventType~'_short')|trans({}, 'contao_default') }} <span class="text-black">"{{ eventModel.title }}"</span> anmelden</h2>

        {% if eventModel.addIban %}
            <div class="alert alert-info" role="alert">
                <i class="fas fa-info-circle"></i>
                <div>
                    {{ 'FORM.evt_reg_ibanText'|trans({}, 'contao_default') }}
                    <br>
                    <br>
                    IBAN:
                    <br>
                    {{ eventModel.iban }}
                    <br>
                    <br>
                    {{ 'FORM.evt_reg_ibanBeneficiary'|trans({}, 'contao_default') }}:
                    <br>
                    {{ eventModel.ibanBeneficiary|nl2br }}
                </div>
            </div>
        {% endif %}

        {# start form #}
        <div class="hasteform_form-event-registration block">
            <form action="{{ form.getAction() }}" method="{{ form.getHttpMethod() }}" enctype="{{ form.getEnctype() }}">
                <div class="formbody bg-reg-form">

                    <div class="ps-3 pe-3">
                        {% if form.hasFormField('FORM_SUBMIT') %}
                            {{ form.getWidget('FORM_SUBMIT').parse()|raw }}
                        {% endif %}

                        {% if form.hasFormField('REQUEST_TOKEN') %}
                            {{ form.getWidget('REQUEST_TOKEN').parse()|raw }}
                        {% endif %}

                        {% if form.hasFormField('carInfo') %}
                            <div class="mt-0 mb-4 p-3" data-reg-widget="carInfo">
                                {{ form.getWidget('carInfo').parse()|raw }}
                            </div>
                        {% endif %}

                        {% if form.hasFormField('ticketInfo') %}
                            <div class="mt-0 mb-4 p-3" data-reg-widget="ticketInfo">
                                {{ form.getWidget('ticketInfo').parse()|raw }}
                            </div>
                        {% endif %}

                        {% if form.hasFormField('mobile') %}
                            <div class="mt-0 mb-4 p-3" data-reg-widget="mobile">
                                {{ form.getWidget('mobile').parse()|raw }}
                                <div data-ffield-explanation="mobile">
                                    <div class="alert alert-success" role="alert">
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            {{ 'FORM.evt_reg_ffield_expl_mobile'|trans({}, 'contao_default')|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if form.hasFormField('emergencyPhone') %}
                            <div class="mt-0 mb-4 p-3" data-reg-widget="emergencyPhone">
                                {{ form.getWidget('emergencyPhone').parse()|raw }}
                            </div>
                        {% endif %}

                        {% if form.hasFormField('emergencyPhoneName') %}
                            <div class="mt-0 mb-4 p-3" data-reg-widget="emergencyPhoneName">
                                {{ form.getWidget('emergencyPhoneName').parse()|raw }}
                            </div>
                        {% endif %}

                        {% if form.hasFormField('notes') %}
                            <div class="mt-0 mb-4 p-3" data-reg-widget="notes">
                                {{ form.getWidget('notes').parse()|raw }}
                                <div data-ffield-explanation="notes">
                                    <div class="alert alert-success" role="alert">
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            {{ 'FORM.evt_reg_ffield_expl_notes'|trans({}, 'contao_default')|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if form.hasFormField('ahvNumber') %}
                            <div class="mt-0 mb-4 p-3" data-reg-widget="ahvNumber">
                                {{ form.getWidget('ahvNumber').parse()|raw }}
                                <div data-ffield-explanation="ahvNumber">
                                    <div class="alert alert-success" role="alert">
                                        <i class="fas fa-check-circle"></i>
                                        <div>
                                            {{ 'FORM.evt_reg_ffield_expl_ahvNumber'|trans({}, 'contao_default')|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if form.hasFormField('foodHabits') %}
                            <div class="mt-0 mb-4 p-3" data-reg-widget="foodHabits">
                                {{ form.getWidget('foodHabits').parse()|raw }}
                            </div>
                        {% endif %}

                        {% if form.hasFormField('agb') %}
                            <div class="mt-0 mb-4 p-3" data-reg-widget="agb">
                                {{ form.getWidget('agb').parse()|raw }}
                            </div>
                        {% endif %}

                        {% if form.hasFormField('submit') %}
                            <div class="mt-0 mb-0 p-3" data-reg-widget="submit">
                                {{ form.getWidget('submit').parse()|raw }}
                            </div>
                        {% endif %}
                    </div>

                </div>
            </form>
        </div>
        {# end form #}

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {

                const widgets = document.querySelectorAll('[data-reg-widget]');
                if (widgets) {
                    widgets.forEach((widget) => {
                        const ff = widget.querySelector('input,textarea,select');
                        if (ff) {
                            ff.addEventListener('focus', (event) => {
                                if (!widget.classList.contains('ff-active')) {
                                    widget.classList.add('ff-active');
                                }
                            });
                        }
                    });
                }
            });
        </script>

        {# AGB Modal #}
        <div class="modal fade" id="agbModal" tabindex="-1" role="dialog" aria-labelledby="agbTitle" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-xl-down modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agbTitle">Kurs- und Tourenreglement</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schliessen"></button>
                    </div>
                    <div class="modal-body">
                        {% if eventRegulationExtract|default %}
                            {{ eventRegulationExtract|raw }}
                        {% endif %}

                        {% if objEventRegulationFile|default %}
                            <p>Download: <a href="{{ objEventRegulationFile.path }}" download="{{ objEventRegulationFile.name }}">{{ objEventRegulationFile.name }}</a></p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schliessen</button>
                    </div>
                </div>
            </div>
        </div>
        {# End AGB Modal #}

    {% endif %}

{% endblock %}
