{% do addJavascriptResource(sacevt_asset_dir()~'/js/dexie/dexie.min.js', null, true) %}
{% do addJavascriptResource('assets/contao-component-vue-js/vue/dist/vue.global.prod.js?3.3.4') %}
{% do addJavascriptResource(sacevt_asset_dir()~'/js/eventlist_vue.js', null, true) %}

<div id="course-list" data-moduleid="{{ id|default }}" v-cloak>
    <span v-if="itemsTotal > 0" class="text-muted mb-3"><small>Zu deiner Suchanfrage wurden [[ itemsTotal ]] Events gefunden. </small></span>
    <span v-if="blnIsBusy === true" class="ms-2 text-success"><small>Lade events...</small></span>
    <div class="event-container row g-3">

        <div v-for="(row, index) of rows" class="col-12 col-md-6 event-item event-item-course event layout_upcoming" data-aos="fade-down" data-aos-duration="600" data-aos-once="true" data-aos-anchor-placement="top-bottom" v-bind:data-selector="row.selector" v-bind:data-id="row.id" v-bind:data-event-type="row.courseTypeLevel1">
            <div class="course-list-inner-box bg-white">
                <div class="row gx-0">
                    <!-- Start left col -->
                    <div class="col-0 col-xl-5 d-none d-xl-block">
                        <div class="image-zoom-in">
                            <a v-bind:href="row.eventUrl" data-has-event-href="true" v-bind:data-href="row.eventUrl" v-bind:title="row.title" v-html="row.eventImage" class="responsive event-title-link"></a>
                        </div>
                    </div>
                    <!-- Start right col -->
                    <div class="col-12 col-xl-7 position-relative">
                        <div class="p-3">
                            <div class="d-flex">
                                <div class="title-col-1 flex-grow-1">
                                    <div class="title">
                                        <a v-bind:href="row.eventUrl" data-has-event-href="true" v-bind:data-href="row.eventUrl" class="event-title-link lh-base">
                                            <h4 class="d-flex headline m-0 p-0 lh-base">
                                                <strong>[[ row.title ]]</strong>
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="title-col-2 ms-2">
                                    {% if not has_logged_in_frontend_user() %}
                                        <button class="favor-event-btn p-0" data-sac-login-toggle="modal" data-sac-login-target="same-site" title="Zu Merkliste hinzufügen">
                                            <i class="fa-regular fa-heart"></i>
                                        </button>
                                    {% else %}
                                        <button class="favor-event-btn p-0" @click="favorEvent(index)" v-bind:title="row.isFavoredEvent ? 'Aus Merkliste entfernen' : 'Zu Merkliste hinzufügen'">
                                            <span v-if="!row.isFavoredEvent">
                                                <i class="fa-regular fa-heart"></i>
                                            </span>
                                            <span v-if="row.isFavoredEvent">
                                                <i class="fa-solid fa-heart text-danger"></i>
                                            </span>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="detail-item small mb-3">
                                <strong><span class="small">[[ row.courseTypeLevel0Name ]]: [[ row.courseTypeLevel1Name ]]</span></strong>
                            </div>
                            <div class="detail-item small mb-2 d-flex align-items-start">
                                <i class="fa-regular fa-fw fa-stairs mt-1 me-1"></i><span>Kursstufe: [[ row.courseLevelName ]]</span>
                            </div>
                            <div class="detail-item small mb-2 d-flex flex-wrap align-items-start">
                                <i class="fa-regular fa-fw fa-calendar-alt mt-1 me-1"></i><span class="me-1 small" v-html="row.eventPeriodLgInline"></span><span class="text-muted" v-html="'(Dauer: ' + row.eventDuration + ')'"></span>
                            </div>
                            {# if the event has been rescheduled #}
                            <div class="detail-item small text-danger mb-2" v-if="row.eventState === 'event_status_6'">
                                <span v-html="row.eventStateLabel"></span>
                            </div>
                            <div class="detail-item small mb-2 d-flex align-items-start">
                                <i class="fa-regular fa-fw fa-user mt-1 me-1"></i><span>Leitung: [[ row.instructorsWithQualification ]]</span>
                            </div>
                            <div class="detail-item d-flex flex-wrap mb-2">
                                <div class="event-state-icon me-1" v-html="row.eventStateIcon" data-bs-toggle="tooltip" data-placement="top" v-bind:aria-label="row.eventStateLabel" v-bind:data-title="row.eventStateLabel" v-bind:class="row.eventState"></div>
                                <div v-html="row.bookingCounter" class="me-1"></div>
                                <div v-if="row.isPublicTransportEvent" v-html="row.getPublicTransportBadge" class="me-1"></div>
                                <div class="more-btn"><a v-bind:href="row.eventUrl"><span class="badge badge-sm badge-pill">Zum Angebot</span></a></div>
                            </div>
                            {# The logo will not be displayed if the event is organized by multiple groups. #}
                            <div class="detail-item" v-if="row.eventOrganizerLogos.length === 1">
                                {# position absolute bottom right #}
                                <div class="event-organizer-logo position-absolute">
                                    <div v-html="row.eventOrganizerLogos[0]"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-if="blnIsBusy === true">
        <div class="d-flex mt-4 justify-content-center">
            <div mt-3 mb-3><i class="fa-solid fa-5x text-secondary fa-rotate fa-spin"></i></div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="mt-3 mb-3 text-secondary">... lade Events ...</div>
        </div>
    </div>

    <div v-if="blnIsBusy === false && blnAllEventsLoaded === false" v-on:click="prepareRequest()">
        <div class="d-flex justify-content-center">
            <button class="btn btn-lg btn-outline-primary mt-4 ps-5 pe-5">Weitere Events laden?</button>
        </div>
    </div>

    <div v-if="blnIsBusy === false && !itemsTotal" class="alert alert-info">
        Zu deiner Suchanfrage wurden leider keine Events gefunden.
    </div>
</div>

<!-- Set up the vue.js course list -->
<script{{ attrs().setIfExists('nonce', csp_nonce('script-src')) }}>
    new VueEventList('#course-list', {
        'modId': {{ id }},
        'csrfToken': '{{ csrfToken }}',
        'apiParams': {
            'arrIds': [{{ apiParam.arrIds }}],
            'calendarIds': {{ apiParam.calendarIds }}, // json_encoded array [1, 2]
            'courseId': '{{ apiParam.courseId }}',
            'courseType': {{ apiParam.courseType }}, // json_encoded array [1, 2]
            'dateStart': '{{ apiParam.dateStart }}',
            'eventId': '{{ apiParam.eventId }}',
            'eventType': {{ apiParam.eventType|raw }}, // json_encoded array ["tour", "generalEvent"]
            'favoredEvent': '{{ apiParam.favoredEvent }}',
            'limit': '{{ apiParam.limit }}',
            'offset': '0',
            'organizers': {{ apiParam.organizers }}, // json_encoded array [1, 2]
            'publicTransportEvent': '{{ apiParam.publicTransportEvent }}',
            'textSearch': '{{ apiParam.textSearch }}',
            'tourType': {{ apiParam.tourType }}, // json_encoded array [1, 2]
            'username': '{{ apiParam.username }}',
            'year': '{{ apiParam.year }}',
        },
        'fields': [
            'id',
            'title',
            'eventUrl',
            'courseTypeLevel1',
            'eventImage||{{ pictureId }}',
            'courseTypeLevel0Name',
            'courseTypeLevel1Name',
            'instructorsWithQualification',
            'eventPeriodLgInline',
            'bookingCounter',
            'eventStateLabel',
            'eventState',
            'eventStateIcon',
            'isPublicTransportEvent',
            'getPublicTransportBadge',
            'eventOrganizerLogos||50',
            'courseLevelName',
            'eventDuration',
            'isFavoredEvent',
        ],
    });
</script>

{# re-initialize AOS, Bootstrap/Popper.js and handle the forward/backend cache implemented with IndexedDB #}
{% include '@Contao_MarkocupicSacEventToolBundle/_insert_listener.html.twig' with {'elId': '#course-list'} only %}
