<!-- indexer::stop -->
{% if not isAjaxRequest %}

    {% do addJavascriptResource('assets/contao-component-vue-js/vue/dist/vue.min.js|static') %}
    {% do addJavascriptResource('bundles/markocupicsaceventtool/js/event_blog_list_vue.js') %}

    <div class="{{ class }} block" {{ cssID }}{% if style is defined %} style="{{ style }}"{% endif %}>

        <!-- headline start -->{% if headline is defined %}<{{ hl }}>{{ headline }}</{{ hl }}>{% endif %}<!-- headline end -->

        <div id="eventBlogList{{ id }}">

            <div class=" list-container" v-html="listContent"></div>

            <!-- start modal -->
            <div class="modal" class="event-blog-reader-modal" tabindex="-1" role="dialog" aria-labelledby="eventBlogReaderModalTitle{{ id }}" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-fullscreen-xl-down" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="eventBlogReaderModalTitle{{ id }}">Tourenberichte</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schliessen"></button>
                        </div>

                        <div class="modal-body">
                            <div class="d-flex justify-content-end">
                                <button type="button" v-if="hasPrevItem()" v-on:click="goToPrevItem()" class="btn btn-primary ms-0"><i class="fas fa-arrow-left"></i> Vorheriger Bericht</button>
                                <button type="button" v-if="hasNextItem()" v-on:click="goToNextItem()" class="btn btn-primary ms-2">Nächster Bericht <i class="fas fa-arrow-right"></i></button>
                            </div>

                            <div v-html="readerContent">
                                <div v-html="readerContent"></div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Schliessen</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal -->
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Instantiate ItemWatcher class
            new EventBlogList('#eventBlogList{{ id }}', {
                'params': {
                    'listModuleId': '{{ id }}',
                    'apiKey': '07d49d1bc6e9fd8bcaabead11b4f75e0',
                    'readerModuleId': '336',
                    'perPage': '{{ perPage }}',
                    'itemIds': [{{ arrAllIds|join(',') }}],
                    'language': '{{ language }}',
                }
            });
        }, false);
    </script>

{% endif %}

{% if isAjaxRequest %}
    <div class="gallery-grid equal-height block">
        {% for blog in blogs %}
            <div itemscope itemtype="http://schema.org/Article">
                <div class="card event-item">

                    <div class="p-2 d-flex align-items-center">
                        {{ '{{image::' ~ getAvatar.invoke(blog.authorId, 'FE') ~ '?width=32&height=32&mode=crop&class=rounded-circle}}' }}
                        <p class="card-text fw-bold small m-0 ms-2">von {{ blog.authorName }}</p>
                    </div>

                    {% if blog.singleSRC %}
                        <div class="image-zoom-in">
                            <a href="{{ blog.href }}" class="item-reader-link">
                                {{ '{{image::' ~ blog.singleSRC.uuid ~ '?width=450&height=300&mode=crop&class=card-img-top}}' }}
                            </a>
                        </div>
                    {% endif %}

                    <div class="card-body">
                        <p class="card-date m-0">
                            <time datetime="{{ blog.dateAdded|date('Y-m-d\TH:i:sP') }}">
                                <small>{{ blog.dateAdded|date('d.m.Y') }}</small>
                            </time>
                        </p>

                        <a href="{{ blog.href }}" title="weiterlesen" class="text-decoration-none item-reader-link">
                            <h6 class="card-title mt-0">{{ blog.title }}</h6>
                        </a>

                        <p class="card-news-teaser">{{ blog.text|raw[0:80] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ pagination|raw }}
{% endif %}
<!-- indexer::continue -->




