<div id="tl_backend_home_screen_my_events">
    <div id="tl_backend_home_screen_my_events_inner">

        <h2><i class="fa-solid fa-mountain-sun"></i> {{ 'MSC.bhs_dashb_sacEvents'|trans({}, 'contao_default') }}</h2>

        <table class="tl_listing">
            {% set index = 0 %}
            {% for event in events %}
                {% if event.separator is defined %}
                    {% if event.separator == 'upcoming-events' %}
                        {% set index = 0 %}
                        <tr>
                            <td colspan="10" class="separator">{{ 'MSC.bhs_dashb_yourUpcomingEvents'|trans({}, 'contao_default') }}</td>
                        </tr>
                        {% if has_upcoming_events is same as(false) %}
                            <tr class="even">
                                <td colspan="10">{{ 'MSC.bhs_dashb_noUpcomingEventsDetected'|trans({}, 'contao_default') }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if event.separator == 'past-events' %}
                        {% set index = 0 %}
                        <tr>
                            <td colspan="10" class="separator">{{ 'MSC.bhs_dashb_yourPastEvents'|trans({}, 'contao_default') }}</td>
                        </tr>
                        {% if has_past_events is same as(false) %}
                            <tr class="even">
                                <td colspan="10">{{ 'MSC.bhs_dashb_noPastEventsDetected'|trans({}, 'contao_default') }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% set index = index + 1 %}
                    {% set odd_or_even = index%2 == 0 ? ' event' : ' odd' %}
                    <tr class="hover-row {{ event.row_class }}{{ odd_or_even }}">
                        <td class="my-events-badge-col text-align-left">{{ event.badge|raw }}</td>
                        <td class="my-events-date-col text-align-left">{{ event.date }}</td>
                        <td class="my-events-state-col text-align-left">{{ event.state_icon|raw }}</td>
                        <td class="my-events-title-col text-align-left">
                            <a href="{{ event.href_event }}" style="text-decoration:underline" title="{{ 'MSC.bhs_dashb_editEvent'|trans({}, 'contao_default') }}"><strong>{{ event.title }}</strong></a>
                            {% if event.release_level is not empty %}
                                &nbsp;<small>(<a href="{{ event.href_eventListing }}" style="text-decoration:underline" title="{{ 'MSC.bhs_dashb_editReleaseLevel'|trans({}, 'contao_default') }}">{{ event.release_level }}</a>)</small>
                            {% endif %}
                        </td>
                        <td class="my-events-icon-col text-align-center">
                            <a href="{{ event.href_preview }}" target="_blank" title="{{ 'MSC.bhs_dashb_livePreview'|trans({}, 'contao_default') }}">
                                <i class="fa-solid fa-fw fa-presentation-screen"></i>
                            </a>
                        </td>
                        <td class="my-events-icon-col text-align-center">
                            <a href="{{ event.href_eventListing }}" title="{{ 'MSC.bhs_dashb_eventListing'|trans({}, 'contao_default') }}">
                                <i class="fa-solid fa-list-tree"></i>
                            </a>
                        </td>
                        <td class="my-events-icon-col text-align-center">
                            <a href="{{ event.href_registrations }}" title="{{ 'MSC.bhs_dashb_registrationList'|trans({}, 'contao_default') }}">
                                <i class="fa-solid fa-fw fa-people-group"></i>
                            </a>
                        </td>
                        <td class="my-events-icon-col text-align-center">
                            {% if event.href_email is not empty %}
                                <a href="{{ event.href_email }}" title="{{ 'MSC.bhs_dashb_sendEmail'|trans({}, 'contao_default') }}">
                                    <i class="fa-solid fa-fw fa-at"></i>
                                </a>
                            {% else %}
                                <i class="fa-solid fa-fw fa-at filter-brightened" title="{{ 'MSC.bhs_dashb_sendEmailDisabled'|trans({}, 'contao_default') }}"></i>
                            {% endif %}
                        </td>
                        <td class="my-events-icon-col text-align-center">
                            {% if event.href_report is not empty %}
                                <a href="{{ event.href_report }}" title="{% if event.has_filled_in_tour_report|default %}{{ 'MSC.bhs_dashb_writeReport'|trans({}, 'contao_default') }}{% else %}{{ 'MSC.bhs_dashb_editReport'|trans({}, 'contao_default') }}{% endif %}">
                                    <i class="fa-solid fa-fw fa-comment-pen{% if event.has_filled_in_tour_report|default %} filter-green{% else %} filter-red{% endif %}"></i>
                                </a>
                            {% else %}
                                <i class="fa-solid fa-fw fa-comment-pen filter-brightened" title="{{ 'MSC.bhs_dashb_writeReportDisabled'|trans({}, 'contao_default') }}"></i>
                            {% endif %}
                        </td>
                        <td class="my-events-icon-col text-align-center">
                            {% if event.href_print_report is not empty %}
                                <a href="{{ event.href_print_report }}" title="{{ 'MSC.bhs_dashb_printReport'|trans({}, 'contao_default') }}">
                                    <i class="fa-solid fa-fw fa-print"></i>
                                </a>
                            {% else %}
                                <i class="fa-solid fa-fw fa-print filter-brightened" title="{{ 'MSC.bhs_dashb_printReportDisabled'|trans({}, 'contao_default') }}"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <h2>{{ 'MSC.bhs_dashb_guidesAndTutorials'|trans({}, 'contao_default') }}</h2>
        <p>{{ 'MSC.bhs_dashb_guidesAndTutorialsText'|trans({}, 'contao_default') }}</p>
    </div>
</div>
<script>
    // Badges: Add the title attribute from data-title.
    const el = document.querySelectorAll('#tl_backend_home_screen_my_events [data-title]');
    let i;
    for (i = 0; i < el.length; ++i) {
        let titleString = el[i].getAttribute('data-title');
        el[i].setAttribute('title', titleString);
    }
</script>
